main {
  padding: 15px 0;
}

#openGroup,
#closeGroup {
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid gray;
  border-radius: 3px;
  color: gray;
  cursor: pointer;
  background-color: transparent;
}

#openGroup{
  position: absolute;
  top: 0;
  right: 0;
}

/* NOTES GROUP */

.notesGroup {
  position: fixed;
  inset: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  background: var(--color-main);

  transform: translateX(-100%);
  transition: transform .2s;
}

.notesGroup.show {
  transform: translateX(0);
}

.notesGroup .form {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
  border-radius: 12px;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}

.notesGroup .form input {
  width: 100%;
}

.notesGroup .form button {
  width: fit-content;
}

.notesGroup ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.notesGroup ul li {
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border-radius: 5px;
}

.notesGroup ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 15px;


  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

.notesGroup ul li p {
  margin: 0;
}

.notesGroup ul li.selected p {
  font-weight: 600;
  text-decoration: underline;
}


/* NOTES */

.notes .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.notes .title {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.notes .title i {
  cursor: pointer;
  color: white;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2em;

  font-size: 22px;

  width: 22px;
  height: 22px;
}

.notes .title i.hidden {
  display: none;
}


.notes .title h2 {
  margin: 0;
}

.notes .title-title{
  display: flex;
  align-items: center;
  gap: 14px;
}

.notes .form {
  display: flex;
  gap: 12px;
  width: 100%;
}

.notes .form button {
  margin: 0;
}

.notes .form input {
  flex: 1;
}

.notes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.note {
  background-color: white;
  border: 1px solid var(--color-main);
  padding: 8px 12px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: start;
  justify-content: space-between;
}

.note p {
  margin: 0;
  flex: 1;
  min-width: 0;
  overflow-wrap: break-word;
  text-align: left;
}

.note i {
  cursor: pointer;
  color: black;
  background-color: var(--color-altern);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2em;

  font-size: 22px;

  width: 22px;
  height: 22px;
}

.note i.bi-pencil-fill,
.notes i.bi-pencil-fill
{
  font-size: 15px;
}

.note i.bi-x {
  background-color: rgb(255, 129, 129);
  font-size: 15px;
}



@media screen and (min-width: 800px) {

  #openGroup,
  #closeGroup {
    display: none;
  }

  main {
    display: flex;
    padding: 0;
  }

  .notesGroup {
    position: static;
    width: 350px;
    transform: none;
    transition: none;
  }

  .notes {
    flex: 1;
    padding: 20px;
  }

  .notesGroup ul {
    list-style-type: disc;
  }

  .notesGroup ul li {
    justify-content: left;
    list-style-type: circle;
    justify-content: space-between;
  }

  .notesGroup ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}