main p,
main h3,
main h4,
main h5,
main h6,
main ul
{
  margin: 0;
}

main .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
/* MOVEMENTS INFO */

.movements-info{
  display: flex;
  padding: 16px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-color: #eee;
}

.movements-info__content{
  width: 100%;
  max-width: 500px;
}

.movements-info__main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px;
  text-align: left;
  margin: 10px 0;
}

.movements-info__wallets{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  gap: 10px;
  margin-bottom: 15px;
}

.movements-info .block{
  display: flex;
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.movements-info .block > p{
  padding: 4px;
}

.movements-info .block > :first-child{
  padding: 4px;
  background-color: black;
  color: white;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.movements-info .block > :last-child{
  width: 50%;
  text-align: right;
}


/* TABLE ==================== */ 
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 6px 8px;
  text-align: left;
  border-bottom: 1px solid #d4dae7;
  overflow-wrap: break-word ;
  word-break: break-word;
}

th {
  font-weight: 600;
  background-color: #f9fafb;
}

tbody tr:hover {
  background-color: #f9fafb;
}