.modal-container{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
}

.modal-container.hidden{
  opacity: 0;
  pointer-events: none;
}

.modal{
  width: 80%;
  max-width: 480px;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.modal p,
.modal h3{
  text-align: center;
  margin: 0;
}



.modal div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal input,
.modal select{
  width: 100%;
}

@media screen and (min-width: 800px) {

}