main{
  padding: 40px 0 ;
}

main .container{
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.content .note{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 15px;
}

.content i{
  background-color: var(--color-altern);
  color: black;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}